#post_title {
  font-weight: bold;
  font-size: 20px;
}
#author_name {
  font-style:italic;
  font-size: 18px;
  font-weight: 600;
}
#div-categories {
  display:inline-block;
}
#div-categories h5 {
  font-size: 16px;
  font-weight: 600;
}

