#container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 5%;
}
#home-list {
  margin-top:5%;
}

.custom-modal {
  --backdrop-opacity: 1;
  backdrop-filter: blur(3px);

  &::part(backdrop) {
      background-color: #000;
  }

  &::part(handle) {
      background: var(--ion-color-primary);
      width: 150px;
      height: 6px;
  }

  &::part(content) {
      border-radius: 0px;
      box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
  }
}
